body {
    background-image: radial-gradient(closest-side at 50% 135%, #ffffff 50%, #eceff1 100%);
}

.sign-in-box {
    width: 400px;
    background: white;
    padding: 40px 0 33px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid #eeeeee;
    margin: 0 auto;
}

.sign-in-container {
    max-width: 340px;
    margin: 0 auto;
}

.text-title {
    font-family: Comic Sans MS, cursive, sans-serif;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #546e7a;
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    font-weight: 300;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    padding: 8.85px 13px;
    font-size: 14px;
}

.submit_btn {
    width: 100%;
    padding: 0 13px;
    border: 0;
    color: #ffffff;
    background: transparent;
    height: 40px;
    background: linear-gradient(215deg, #546e7a, #37474f);
    margin-bottom: 16px;
}

.action-reset {
    text-align: right
}

.reset-link {
    color: #546e7a;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

