{% extends 'base.html' %}

{% block head %} 
<title>Photos</title>
{% endblock %}


{% block body %} 
<br>
<h1>All Photos</h1>
<br>

<div class="imgs0">
    <p>none wearing masks</p><br>
    {% for photo in all_photos %}
        {% if photo.photo_type == 0 %}
            <img src="{{ url_for('static', filename='/'.join(['uploads', user, photo.output_name]) ) }}" />
        {% endif %}
    {% endfor %}
</div>
<br><br><br>

<div class="imgs1">
    <p>all wearing masks</p><br>
    {% for photo in all_photos %}
        {% if photo.photo_type == 1 %}
            <img src="{{ url_for('static', filename='/'.join(['uploads', user, photo.output_name]) ) }}" />
        {% endif %}
    {% endfor %}
</div>
<br><br>

<div class="imgs2">
    <p>only some wearing masks</p><br>
    {% for photo in all_photos %}
        {% if photo.photo_type == 2 %}
            <img src="{{ url_for('static', filename='/'.join(['uploads', user, photo.output_name]) ) }}" />
        {% endif %}
    {% endfor %}
</div>
<br><br><br>

<div class="imgs3">
    <p>no faces detected</p><br>
    {% for photo in all_photos %}
        {% if photo.photo_type == 3 %}
            <img src="{{ url_for('static', filename='/'.join(['uploads', user, photo.output_name]) ) }}" />
        {% endif %}
    {% endfor %}
</div>
<br><br><br>
{% endblock %}