{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}


{% block body %}
<br>
<br>
<h1>Object Detection</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h2>Welcome</h2>
            <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend
                the width of the viewport, others are confined within a <code>.container</code>. For positioning of
                navbars, checkout the <a href="../navbar-top/">top</a> and <a href="../navbar-top-fixed/">fixed top</a>
                examples.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="{{ url_for('detection') }}" role="button">Start Now &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}