{% extends 'base.html' %}

{% block head %} 
<title>Login</title>
{% endblock %}


{% block body %}
<div class="login">
    <div>
        <br><br>
        <h1>Login</h1>
        <br>
    </div>
    <div>                  
        <form action="{{ url_for('login')}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            <br>
            {{ form.username }}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            <br>
            <br>
            {{ form.submit }}
            <br><br>
            <hr>
            <p>New to AIplus?</p>
            <a href="{{url_for('register')}}">Create a new account</a>
        </form>

    </div>
</div>

   
{% endblock %}