{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="h-25"></div>
<div class="d-flex justify-content-center align-items-center sign-in-box">
    <div class="sign-in-container" style="text-align: center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width="75" height="77"
             class="d-inline-block " alt="logo" loading="lazy">
        <h2 class="text-title">Mask Detection</h2>
        <form action="{{ url_for('oauth.login')}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username", class_="form-input") }}
            <br>
            <br>
            {{ form.password(placeholder="Password", class_="form-input") }}
            <div style="height:28px;margin-bottom:2px;font-size:14px;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div style="color: #c62928;max-width: 240px;line-height: 1;text-align: left">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {{ form.submit(class_="submit_btn") }}
        </form>
        <div class="action-reset">
            <a class="reset-link" href="{{ url_for('oauth.forget_password')}}">Forgot Password?</a>
        </div>
    </div>

</div>
{% endblock %}