{% extends 'navbar.html' %}

{% set active_page = 'management' %}

{% block content %}

<div style="margin-top: 30px"></div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Options</a>
                <a href="#" class="list-group-item list-group-item-action active"
                   style=""
                >
                    Manage Access
                </a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-9">
                    <h2>Manage Access</h2>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add an
                        user
                    </button>
                    <!--                    <button type="button" class="btn btn-info">Invite an user</button>-->
                </div>
            </div>
            <table class="table table-striped">
                <thead style="background-color: #eef7ff;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto@gmail.com</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton@gmail.com</td>
                    <td>user</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Bird@gmail.com</td>
                    <td>user</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Sign up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Administrator permissions</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}