{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recover.css') }}">
{% endblock %}

{% block content %}
<div class="h-25"></div>
<div class="d-flex justify-content-center align-items-center reset-box">
    <div class="reset-container" style="text-align: left">
        <h3>Find Your Account</h3>
        <hr>
        <div>
            <p>Please enter your username to search for your account.</p>
        </div>
        <form action="{{ url_for('oauth.forget_password')}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username", class_="username_input") }}
            <div style="color: #c62928;height: 30px;display: block">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
            {{ form.search(class_="btn btn-outline-success search_btn") }}
            <a href="{{ url_for('oauth.login')}}" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
