{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
{% endblock %}

{% block content %}
<div class="h-25"></div>
<div class="d-flex justify-content-center align-items-center reset-box">
    <div class="reset-container" style="text-align: left">
        <h1>Password reset for @{{name}}</h1>
        <hr>
        <form action="{{ url_for('oauth.reset_password', token=token)}}" method="POST">
            {{ form.hidden_tag() }}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style="color: #c62928">{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div>
                {{ form.new_password(placeholder="New password", class_="form-input") }}
            </div>
            <div>
                {{ form.confirm(placeholder="Confirm new password", class_="form-input") }}
            </div>

            {{ form.submit(class_="btn btn-outline-success submit_btn") }}
        </form>
    </div>
</div>
{% endblock %}