{% extends 'navbar.html' %}
{% set active_page = "setting" %}
{% block content %}
<div style="margin-top: 30px"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Settings</a>
                <a href="#" class="list-group-item list-group-item-action active"
                   style=""
                >
                    Account Security
                </a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
                <a href="#" class="list-group-item list-group-item-action">&nbsp</a>
            </div>
        </div>
        <div class="col-9">
            <h2>Change password</h2>
            <hr/>
            <form  action="{{ url_for('oauth.change_password')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <label for="inputPassword1" class="col-sm-3 col-form-label">Old password</label>
                    <div class="form-group mb-2">
                       {{ form.old_password(class_="form-control",id="inputPassword1",placeholder="Old Password") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="col-sm-3 col-form-label">New password</label>
                    <div class="form-group  mb-2">
                        {{ form.new_password(class_="form-control",id="inputPassword2",placeholder="New Password") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Confirm</label>
                    <div class="form-group mb-2">
                        {{ form.confirm(class_="form-control",id="inputPassword3",placeholder="Confirm Password") }}
                    </div>
                </div>
                {{ form.submit(class_="btn btn-outline-secondary") }}
            </form>

        </div>
    </div>
</div>
{% endblock %}